.App {
  text-align: center;
}

header{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to left, aqua, gray);
  color: aliceblue;
}
section{
  display: flex;
  justify-content: center;
  background-color: aqua;
}
.confirmed-case, .death-case, .recovered-case{
  height: 150px;
  border: 1px soil blue;
  box-shadow: 0 6px 5px 3px ;
  width: 200px;
  margin: 20px;
}  

 .death-case{
   background-color: red;
 }
 .recovered-case{
   background-color: green;
 }
 .confirmed-case{
   background-color: yellow;
 }
 